@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@font-face {
  font-family: uxwing-iconsfont;
  src: url("../css/font/fonts/uxwing-iconsfont.ttf?v=1.0") format("truetype"), url("../css/font/fonts/uxwing-iconsfont.woff?v=1.0") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  color: rgb(18, 18, 18);
  background: rgb(250, 250, 250);
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

h1,h2,h3,h4 {
  font-family: lobster, "Courier New", Courier, monospace;
}

@media only screen and (max-width: 768px) {

  a,
  button {
    border: none;
    outline: none;
    cursor: default !important;
  }
}

.container-page {
  max-width: 100vw;
  height: auto;
  padding: 0px 2rem;
  margin: 0px auto;
}
.container-page img{
  width: 50vw;
  display: block;
  margin: auto;
  }

@media only screen and (max-width: 992px) {
  .container-page {
    padding: 0px 1rem;
    margin: 0px auto;
  }
}

.brand {
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: inherit;
  color: rgb(30, 94, 233);
  border: none;
  outline: none;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
}

.header {
  position: fixed;
  display: block;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 0rem 0px;
  margin: 0px auto;
  z-index: 999999999;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header .wrapper {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

.header-item-left {
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 17%;
}

.header-item-center {
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 66%;
  justify-content: space-around;
}

.header-item-right {
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 17%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.header-item-right .menu-icon {
  font-size: 1.35rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  border: none;
  outline: none;
  color: rgb(18, 18, 18);
  transition: all 0.3s ease 0s;
}

.header .menu>ul>li {
  display: inline-block;
  line-height: 3.125rem;
  margin-left: 1.5rem;
}

.header .menu>ul>li>a {
  position: relative;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.25;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  text-rendering: optimizelegibility;
  transition: color 0.3s ease-in-out 0s;
}

.header .menu>ul>li .menu-subs {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  outline: none;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  border-top: 3px solid rgb(30, 74, 233);
  background: rgba(0, 0, 0, 0.66);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.5s ease-in-out 0s;
}

.header .menu>ul>li .menu-subs>ul>li {
  line-height: 1;
}

.header .menu>ul>li .menu-subs>ul>li>a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.75rem 0px;
  border: none;
  outline: none;
  color: rgb(169, 165, 165);
  text-transform: capitalize;
  text-rendering: optimizelegibility;
  transition: all 0.3s ease-in-out 0s;
}

.header .menu>ul>li .menu-column-1 {
  min-width: 16rem;
  max-width: 20rem;
}

.header .menu>ul>li .menu-subs.menu-mega {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li {
  display: block;
  line-height: 1;
}

.header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.5rem 0px;
  border: none;
  outline: none;
  color: rgb(18, 18, 18);
  text-transform: capitalize;
  text-rendering: optimizelegibility;
  transition: color 0.3s ease-in-out 0s;
}

.header .menu>ul>li .menu-subs.menu-column-4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 68rem;
  width: 100%;
  padding: 1.25rem 1rem;
}

.header .menu>ul>li .menu-subs.menu-column-4>.list-item {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  padding: 0px 1rem;
}

.header .menu>ul>li .menu-subs.menu-column-4>.list-item .title {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 0px;
  border: none;
  outline: none;
  color: rgb(233, 30, 99);
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  transition: all 0.3s ease-in-out 0s;
}

.header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center .title {
  text-align: center;
}

.header .menu>ul>li .menu-subs.menu-column-4>.list-item img.responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 0.75rem;
  object-fit: cover;
  vertical-align: middle;
}

.header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a:hover,
.header .menu>ul>li .menu-subs>ul>li>a:hover {
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 0px 0px 7px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 21px, rgb(243, 3, 23) 0px 0px 42px, rgb(243, 3, 23) 0px 0px 82px, rgb(243, 3, 23) 0px 0px 92px, rgb(243, 3, 23) 0px 0px 102px, rgb(243, 3, 23) 0px 0px 151px;
  text-decoration: none;
}

.header-item-right a:hover,
.header .menu>ul>li:hover>a {
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 0px 0px 7px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 21px, rgb(243, 3, 23) 0px 0px 42px, rgb(243, 3, 23) 0px 0px 82px, rgb(243, 3, 23) 0px 0px 92px, rgb(243, 3, 23) 0px 0px 102px, rgb(243, 3, 23) 0px 0px 151px;
  text-decoration: none;
}

@media only screen and (min-width: 993px) {
  .header .menu>ul>li.menu-item-has-children:hover .menu-subs {
    margin-top: 0.5rem;
    opacity: 1;
    visibility: visible;
  }
}

.menu-mobile-header,
.menu-mobile-trigger {
  display: none;
}

@media only screen and (max-width: 992px) {
  .header-item-center {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
    order: 3;
  }

  .header-item-left,
  .header-item-right {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }

  .wrapper {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .header .menu-mobile-trigger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 1.75rem;
    height: 1rem;
    border: none;
    outline: none;
    margin-left: 1.25rem;
    background: none;
    transform: rotate(0deg);
    transition: all 0.35s ease-in-out 0s;
  }

  .header .menu-mobile-trigger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: rgb(255, 255, 255);
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out 0s;
  }

  .header .menu-mobile-trigger span:nth-child(1) {
    top: 0px;
  }

  .header .menu-mobile-trigger span:nth-child(2),
  .header .menu-mobile-trigger span:nth-child(3) {
    top: 0.5rem;
  }

  .header .menu-mobile-trigger span:nth-child(4) {
    top: 1rem;
  }

  .header-item-right {
    -webkit-box-align: center;
    align-items: center;
  }

  .header .menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20rem;
    height: 100%;
    z-index: 1099;
    overflow: hidden;
    background: rgb(250, 250, 250);
    transform: translate(-100%);
    transition: all 0.5s ease-in-out 0s;
  }

  .header .menu.active {
    transform: translate(0%);
  }

  .header .menu>ul>li {
    display: block;
    line-height: 1;
    margin: 0px;
  }

  .header .menu>ul>li>a {
    display: block;
    line-height: 3.125rem;
    height: 3.125rem;
    padding: 0px 3.125rem 0px 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header .menu>ul>li>a i.ion {
    position: absolute;
    font-size: 1.25rem;
    line-height: 3.125rem;
    top: 0px;
    right: 0px;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    transform: rotate(-90deg);
  }

  .header .menu .menu-mobile-header {
    position: sticky;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    top: 0px;
    height: 3.125rem;
    z-index: 501;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(23, 29, 223);
    color: rgb(255, 255, 255);
  }

  .header .menu .menu-mobile-header .menu-mobile-arrow {
    display: none;
    font-size: 1.25rem;
    line-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(18, 18, 18);
    text-align: center;
  }

  .header .menu .menu-mobile-header.active .menu-mobile-arrow {
    display: block;
  }

  .header .menu .menu-mobile-header .menu-mobile-title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: rgb(18, 18, 18);
    text-transform: uppercase;
    text-rendering: optimizelegibility;
  }

  .header .menu .menu-mobile-header .menu-mobile-close {
    font-size: 2.25rem;
    line-height: 3.125rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(18, 18, 18);
    text-align: center;
  }

  .header .menu .menu-section {
    height: 100%;
    overflow: hidden auto;
    background: rgb(0, 0, 0);
  }

  .header .menu>ul>li .menu-subs {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 4rem 1rem 1rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
    box-shadow: none;
  }

  .header .menu>ul>li .menu-subs.menu-mega {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 4rem 1rem 1rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
    box-shadow: none;
  }

  .header .menu>ul>li .menu-subs.active {
    display: block;
    background: black;
  }

  .header .menu>ul>li .menu-subs.menu-column-4>.list-item {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    padding: 0rem;
  }

  .header .menu>ul>li .menu-subs.menu-column-4>.list-item img.responsive {
    margin-top: 0px;
  }

  .header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center .title {
    margin-bottom: 1.25rem;
  }

  .header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center:last-child .title {
    margin-bottom: 0rem;
  }

  .header .menu>ul>li .menu-subs>ul>li>a {
    display: block;
  }

  .header .menu>ul>li .menu-subs.menu-mega>.list-item>ul {
    margin-bottom: 1rem;
  }

  .header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a {
    display: block;
  }

  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1098;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.55);
    transition: all 0.5s ease-in-out 0s;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .fixo {
    position: fixed;
    transition-duration: 0.2s;
    top: 0px;
  }
}

.navbar-color {
  background: rgb(84, 187, 254);
  box-shadow: rgb(0, 0, 0) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.main {
  display: block;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
}

.home-section {
  width: 100vw;
  padding-top: 60px;
  min-height: 60vh;
}
@media (max-height: 370px) and (orientation: landscap) {
  .home-section {
    height: 86vh;
  }  
  .text-mainban img{
    max-width: 18%;
  }
}
.home-section iframe {
  min-width: 130vw;
  height: 140vh;
  pointer-events: none;
  position: relative;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  filter: brightness(0.5);
}

.bg-video {
  width: 100vw;
  height: 170vh;
  position: absolute;
  z-index: -111;
  top: -15%;
  overflow: hidden;
}

@media (max-width: 992px) {
  .home-section iframe {
    width: 100vw;
    height: 120vh;
  }

  .header {
    background-color: black;
  }

  .bg-video {
    top: -9%;
    height: auto;
  }
}

@media (max-width: 1023px) {
  .home-section iframe {
    width: 330vw;
    height: 150vh;
    left: -50%;
    position: relative;
    top: 0;
  }
}

.text-mainban{
   color: rgb(250, 250, 250);
   text-decoration: none;
   text-align: center;
   position: relative;
}

@media (max-height: 390px) {
  .home-section iframe {
    width: 171vw;
    height: 764vh;
    left: 50%;
  }

  .bg-video {
    top: -50%;
    transform: translateY(20%);
    height: auto;
  }
  .flip-box{
    min-height: 80vh;
  }
  .flip-box-front img{
    width: 10%;
  }
}

.neon-red {
  color: rgb(255, 255, 255);
  text-shadow: 
  #f30317 0px 0px 7px,
   #f30317 0px 0px 10px,
    #f30317 0px 0px 21px,
     #f30317 0px 0px 42px,
      #f30317 0px 0px 82px,
       #f30317 0px 0px 92px,
        #f30317 0px 0px 102px,
         #f30317 0px 0px 151px;
}

.flip {
  width: 100vw;
  background: black;
}

.flip-box {
  background-color: transparent;
  width: 20vw;
  height: 50vh;
  border: 0px solid rgb(74, 74, 74);
  perspective: 1000px;
}

.flip-box-inner {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  transition: transform 0.8s ease 0s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-back h4 {
  font-size: 2rem;
}

.txt-flip {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flip-box-front {
  color: black;
  background-color: rgb(26, 5, 5);
  background-size: cover;
  background-repeat: no-repeat;
}

.flip-box-back {
  background-color: black;
  background-image: url("../img/bg-flip-back.png");
  background-size: contain;
  color: white;
  transform: rotateY(180deg);
}

.flip-box-back h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  text-align: justify;
  margin: 15px;
}

.links a {
  display: block;
}

.flipsection {
  display: flex;
  margin: auto;
  z-index: 100;
  flex-direction: row;
}

.flip-box-front img {
  position: relative;
  top: 50%;
  width: 70%;
  transform: translateY(-50%);
}

@media (max-width: 920px) {
  .flipsection {
    display: block;
  }

  .flip-box {
    width: 100vw;
    height: 50vh;
  }

  .flip-box-front img {
    width: 30%;
  }
}

.membros-section {
  min-height: 60vh;
  background-image: url("../img/castle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.membros h2 {
  font-size: 40px;
  text-align: center;
  margin: 40px;
  font-family: lobster, Arial, Helvetica, sans-serif;
  color: rgb(250, 250, 250);
}

.membros h1 {
  text-align: center;
  margin: 0px 10px;
  font-size: 3rem;
  font-weight: 500;
}

.membros a {
  position: relative;
  font-size: 1.3rem;
  padding-left: 25px;
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.membros a:hover {
  transition: all 1s ease 0s;
  transform: scale(1.1);
  color: black;
}

.armaduras-section {
  text-align: justify;
  padding: 40px 0px;
  max-width: 80%;
  margin: auto;
}
@media (max-width: 920px) {
  .armaduras-section {
    max-width: 100%;
  }
}

.youtube {
  background-image: url("../img/bg-medieval.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
}

.youtube h1 {
  color: white;
  text-align: center;
}

footer {
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  padding-top: 10px;
  margin-top: 0px;
}

@media (max-width: 1439px) {
  footer {
    padding: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 1023px) {
  footer {
    padding: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 0px;
    margin-top: 0px;
  }
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 91, 228);
  text-decoration: none;
}

.footer-bottom,
.footer-content,
.top-footer {
  padding: 29px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 767px) {

  .footer-bottom,
  .footer-content,
  .top-footer {
    flex-direction: column;
  }
}

@media (max-width: 1199px) {

  .footer-bottom,
  .footer-content,
  .top-footer {
    padding: 25px 0px 15px;
  }
}

@media (max-width: 767px) {

  .footer-bottom,
  .footer-content,
  .top-footer {
    padding: 15px 0px 5px;
  }
}

.footer-bottom p {
  font-size: 10px;
  text-transform: uppercase;
}

.top-footer {
  padding-top: 0px;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .top-footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.footer-content {
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-bottom: 10px solid rgb(255, 255, 255);
  border-top: 10px solid rgb(255, 255, 255);
}

.footer-bottom {
  font-size: 10px;
}

.footer-bottom p {
  margin-bottom: 0px;
}

.social {
  margin: 0px -18px;
  z-index: 999;
  position: relative;
}

@media (max-width: 767px) {
  .social {
    margin-bottom: 0px;
  }
}

.social li {
  display: inline-block;
  padding: 0px 10px;
}

.social a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.social a:hover {
  text-shadow: rgb(19, 3, 243) 0px 0px 7px, rgb(19, 3, 243) 0px 0px 10px, rgb(19, 3, 243) 0px 0px 21px, rgb(19, 3, 243) 0px 0px 42px, rgb(19, 3, 243) 0px 0px 82px, rgb(19, 3, 243) 0px 0px 92px, rgb(19, 3, 243) 0px 0px 102px, rgb(19, 3, 243) 0px 0px 151px;
  text-decoration: none;
}

.footer-list,
.footer-nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.footer-nav li:hover {
  text-shadow: rgb(19, 3, 243) 0px 0px 7px, rgb(19, 3, 243) 0px 0px 10px, rgb(19, 3, 243) 0px 0px 21px, rgb(19, 3, 243) 0px 0px 42px, rgb(19, 3, 243) 0px 0px 82px, rgb(19, 3, 243) 0px 0px 92px, rgb(19, 3, 243) 0px 0px 102px, rgb(19, 3, 243) 0px 0px 151px;
  text-decoration: none;
}

.footer-list a:hover {
  text-shadow: rgb(19, 3, 243) 0px 0px 7px, rgb(19, 3, 243) 0px 0px 10px, rgb(19, 3, 243) 0px 0px 21px, rgb(19, 3, 243) 0px 0px 42px, rgb(19, 3, 243) 0px 0px 82px, rgb(19, 3, 243) 0px 0px 92px, rgb(19, 3, 243) 0px 0px 102px, rgb(19, 3, 243) 0px 0px 151px;
  text-decoration: none;
}

@media (max-width: 1023px) {

  .footer-list,
  .footer-nav {
    font-size: 12px;
  }
}

.footer-list li,
.footer-nav li {
  margin-bottom: 3px;
}

@media (max-width: 767px) {
  .footer-list {
    margin-bottom: 10px;
  }
}

.footer-nav {
  column-count: 3;
  margin: 0px -25px;
}

@media (max-width: 1023px) {
  .footer-nav {
    column-count: 2;
    margin: 0px -15px;
  }
}

@media (max-width: 767px) {
  .footer-nav {
    column-count: 1;
  }
}

.footer-nav li {
  padding: 0px 25px;
  display: flex;
}

@media (max-width: 1023px) {
  .footer-nav li {
    padding: 0px 15px;
  }
}

.membro-section-principal {
  width: 100vw;
  display: flex;
  background-image: url("../img/bg-membros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.membro-principal {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.membro-foto {
  width: 50vw;
  height: auto;
}

.membro-foto img {
  width: 70%;
  height: auto;
  position: relative;
  z-index: 999;
  max-width: initial;
}

.membro-texto {
  max-width: 50vw;
}

.membro-texto h1 {
  font-size: 6rem;
  color: white;
  position: relative;
  text-align: inherit;
  z-index: 1;
  margin-bottom: 90px;
}

.membro-texto h3 {
  color: rgb(255, 255, 255);
  
}

.membro-texto img {
  top: 140px;
  position: relative;
  height: 100%;
  right: 175px;
}

.membro-texto p {
  text-align: justify;
  width: 90%;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-family: lobster, "Courier New", Courier, monospace;
  
}
.membro-texto li {
  list-style: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .membro-principal {
    display: block;
    overflow: hidden;
  }
  .membro-foto {
    width: 100vw;
    height: 20%;
    text-align: center;
  }
  .membro-texto{
    max-width: 100vw;
  }
  .membro-texto h1{
  font-size: 5.2rem;
  margin: 75px 0px 15px 10px;
  }
  .membro-texto img {
  height: 47%;
  right: 15vw;
  width: fit-content;
  top: 210px;
  }
  .membro-texto li{
    width: 90vw;
  }

  .membro-foto img {
    width: auto;
  }
  .membro-texto ul{
    position: relative;
    top: 10px;
    padding: 10px;
    margin: auto;
  }
  .membro-texto p{
  width: auto;
  margin: 20px 0;
  }
}
.bg-membros{
  width: 100vw;
  height: 40vh;
  background-image: url(../img/bg-estrelas.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-membros img{
  width: 100vw;
  position: relative;
  top: -74px;
}
.bg-membros h1{
  font-family: lobster, "Courier New", Courier, monospace;
  font-size: 15vw;
  text-align: center;
  color: #fff;
  padding-top: 80px;
  z-index: 111111;
  position: relative;
}
@media screen and (max-width: 768px) {

  .bg-membros{
    height: 20vh;
  }
  .bg-membros h1{
    padding-top: 50px;
  }
 
}
.espadas{
  position: relative;
  width: 100vw;
  bottom: 0;
  height: 5px;
  text-align: center;
  background: #feac00;
}
.espadas img{
  width: 40px;
  position: absolute;
  bottom: -18px;
}
@media (max-height: 390px) {
  .bg-membros{
    height: 50vh;
  }
}
.legenda{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  /* background-color: #ffffff; */
  border-radius: 44%;
  font-size: 3vw;
  font-family: lobster;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.cavaleiroimg{
  border: 5px solid orange; 
  padding: 20px; 
  margin: auto; 
  max-width: 40vw;
  margin-bottom: 25px;
  background-image: url(../img/bg-adv.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .cavaleiroimg{
    min-width: 80vw;
}
  .legenda{
    font-size: 10vw;
  }
}